.App {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
  overflow: hidden;
  text-align: center;
  height: 100vh;
  font-family: 'Muli', sans-serif;
}

.wrapper {
  height: 100%;
}

.main {
  height: 100%;
  padding: 0;
}

.sidebar {
  list-style-type: none;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar li a {
  font-size: 1.4em;
  color: #666;
  display: inline-block;
  transition: all .3s;
}

.sidebar li a::after {
  position: relative;
  left: -0.4em;
  top: -0.6em;
  height: 0.7em;
  content: '';
  display: block;
  width: 0;
  opacity: 0.2;
  transition: width .3s ease-out;
}

.sidebar li a:hover::after {
  width: calc(100% + 0.8em);
}

.sidebar li a{
  text-decoration: none;
}

.sidebar li:nth-child(1) a:hover {
  color: #8e4f5a;
}

.sidebar li:nth-child(1) a::after {
  background-color: #8e4f5a;
}

.sidebar li:nth-child(2) a:hover {
  color: #c2b5ad;
}

.sidebar li:nth-child(2) a::after {
  background-color: #c2b5ad;
}

.sidebar li:nth-child(3) a:hover {
  color: #7b8e76;
}

.sidebar li:nth-child(3) a::after {
  background-color: #7b8e76;
}

.sidebar li:nth-child(4) a:hover {
  color: #d8ba62;
}

.sidebar li:nth-child(4) a::after {
  background-color: #d8ba62;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
